.form-control {
	max-width: 300px;
}

.btn.btn-primary {
	margin-top: 20px;
	margin-left: 15px;
}

.btn.btn-primary {
	margin-top: 20px;
	margin-left: 15px;
}

.ddnInputBox {
	border: 1px solid #ced4da;
}